{% extends "base.html" %}
{% block content %}
 <div class="col-sm-10 col-sm-offset-1">
{% block sidebar %}
      <div class="side-bar col-sm-4">
        <div class="title text-uppercase">Categories</div>
        <ul class="category-list">
          <a class="category-nav" href={{url_for('home')}}>All</a>
          {% for c in categories %}
          <li>
            <a class="category-nav" href={{url_for('showcategory', categoryname=c.name)}}>{{ c.name | safe }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
{% endblock %}
    <div class="item-list col-sm-8">
      <div class="title text-uppercase">Latest Modified Item
        {% if permission %}
          <a class=" action btn btn-default" href = "{{url_for('newitem')}}"> Create New Item </a>
        {% endif %}
      </div>
      <ul class="category-list">
      {% for i in items %}
        <li><a href={{url_for('showitem', itemname=i.name)}}>{{ i.name | safe }}</a></li>
      {% endfor %}
      </ul>
    </div>
</div>
{%endblock %}
