<!DOCTYPE html>
<html>

<head>

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="//apis.google.com/js/platform.js?onload=start">
    </script>

    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <meta name="google-signin-client_id" content="569674675447-9e2l1aau48durfde850hnjferg78ja1d.apps.googleusercontent.com">

</head>


<body>
    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <div id="signInButton">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            var id_token = googleUser.getAuthResponse().id_token;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/tokensignin');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
              console.log('Signed in as: ' + xhr.responseText);
            };
            xhr.send('idtoken=' + id_token);
        }
    </script>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log('User signed out.');
            });
        }
    </script>
    <!--END GOOGLE PLUS SIGN IN BUTTON -->
</body>

</html>
